<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Get your playlist!</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        // playlist titles fade in from header, media player disappears if present
        $(document).ready(function(){
            $("#search-button").click(function(){
                $(".playlist").fadeOut('normal');
                $(".playlist-titles-box")
                    .hide()
                    .css('opacity', 0)
                    .slideToggle('slow')
                    .animate(
                        { opacity: 1 },
                        { queue: false, duration: 'slow' }
                    );
            });
        });

        // Header fades in from top
        $(function(){
            $(".jumbotron")
                .hide()
                .css('opacity', 0)
                .slideDown('slow')
                .animate(
                    { opacity: 1 },
                    { queue: false, duration: 'slow' }
                );
        });

        // media player appears when a playlist title is clicked
        $(document).on("click", ".playlist-button", function () {
            $(".playlist").hide().fadeIn('slow');
        });

    </script>
    <!-- End of JQuery -->

    <script>history.scrollRestoration = "manual"</script>

    <script type="text/javascript" src="/static/js/main.js" defer></script>

</head>

<body>

<div class="site-content">

<div class="jumbotron">
    <h1 class="display-3">Get your playlist!</h1>
    <p class="lead">Don't know what to listen to, but you sure as hell
        know that you want to listen to something? Just not finding the right beat?
        Search for your mood, the weather, your activity, anything, and we'll give
        you some amazing playlists to choose from!
    </p>
    <hr class="my-2">
    <p>Give us a hint of what you're looking for (for example: study, running, rainy day,
        rock and roll, feeling sexy, etc.)</p>
    <p class="lead">
        <div class="search-bar">
            <input class="form-control form-control-lg" type="text" size="400px" id="search-field" placeholder="Type some hints here ...">
            <button type="button" class="btn btn-danger btn-lg" id="search-button">Gimme some noise!</button>
        </div>
    </p>
</div>

<!--MODALTRY-->


<div class="search-results">

    <div class="playlist-titles-box">
        <ul class="playlist-titles"></ul>
    </div>

    <div class="playlist">
        <p>playlist</p>
    </div>

</div>


<!--MODALTRYEND-->


<!--<iframe src="https://open.spotify.com/embed/playlist/5w6HLjflOIfu1pLJlNF588"-->
<!--        width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->


</div>


<div th:replace="footer.html :: copy"></div>

</body>
</html>