#search-field {
    width: 60%;
}

.lead {
    width: 88%;
}

#search-button {
    margin-top: 10px;
}

.playlist-titles, .playlist {
    list-style-type: none;
    text-align: center;
}

.playlist-titles {
    display: block;
    width: 100%;
    height: 100%;
}

.search-results {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0px 100px;
}

.playlist-titles-box {
    flex: 1 1 1%;
    padding: 0em 2em;
}

.playlist {
    flex: 1 1 1%;
    padding: 0em 2em;
}

li {
    margin:5px;
}

iframe {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    /*margin: 0 70px;*/

}

body {
    text-align: -webkit-center;
}

ul {
    margin-block-start: 0em;
    padding-inline-start: 0px;
}